<div id="whatsapp"> 
  <app-header></app-header>
   <!-- start user -->
   <div class="user">
    <div class="logo">
      <a><img class="status" src="../../assets/images/status.png" alt=""></a> 
      <h4>My status<br><span>tab to add status update</span></h4>
      
    </div>
    <div class="date">
      <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
    </div>
  </div>
  <!-- end user -->

  <div class="updates">
   <p>Viewed updates</p>
  </div>

  <!-- start user -->
  <div class="user">
  <div class="logo">
    <a href="#"><img class="status-img" src="../assets/images/mypic.jpg" alt=""></a> 
    <h4>Username<br><span>Today, 7:23 am</span></h4>
  </div>
  </div>
  <!-- end user -->
    <!-- start user -->
    <div class="user">
        <div class="logo">
          <a href="#"><img class="status-img" src="../assets/images/mypic.jpg" alt=""></a> 
          <h4>Username<br><span>Today, 1:27 am</span></h4>
        </div>
    </div>
    <!-- end user -->
      <!-- start user -->
      <div class="user">
        <div class="logo">
          <a href="#"><img class="status-img" src="../assets/images/mypic.jpg" alt=""></a> 
          <h4>Username<br><span>Yesterday, 9:59 pm</span></h4>
        </div>
      </div>
      <!-- end user -->
        <!-- start user -->
        <div class="user">
          <div class="logo">
            <a href="#"><img class="status-img" src="../assets/images/mypic.jpg" alt=""></a> 
            <h4>Username<br><span>Yesterday, 7:22 pm</span></h4>
          </div>
        </div>
        <!-- end user -->
  <div class="icon-pencil">
    <a><i class="fa fa-pencil" aria-hidden="true"></i></a>
  </div> 
  
 
  <div id="confirmBox">
      <i class="fa fa-times" aria-hidden="true"></i>
      <textarea placeholder="Type a status" autofocus></textarea>
      <a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a> 
  </div>

  


  <div class="icon-camera">
    <a> <i class="fa fa-camera" aria-hidden="true"></i></a>
  </div>    
  <input class="file" type="file">
</div>  