/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../src/assets/images/whatsapp_bg.jpg');
    background-size: cover;
}

#whatsapp{
    max-width: 500px;
    margin:25px auto;
    background-color: #fdfdfd;
    box-shadow: 3px 5px 30px #298049;
}

.clearfix{
    clear: both;
}

